@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap');

/*color palette
red: #e85a40;
green:  #79E9B3;
yellow: #FEE77E;
gray: #7d8590;
offwhite: e6edf3;
blue: #5497FF;
*/

/*global styles*/

body {
  font-family: "Chakra Petch", sans-serif;
  color: #c7c8cd;
  color: #eeeeee;
  background-color: #0C1117;
  font-size: 15px;
  letter-spacing: .02em;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: hidden;
}
.text-red {
  color: #e85a40
}
.text-yellow {
  color: #DEF241;
}
.text-gray {
  color: #313336;
}
.text-green {
  color:  #79E8B3 !important;
}
.text-blue {
  color: #5497FF;
}
.text-purple {
  color: #AA6EFE;
}
.text-offwhite {
  color: #e6edf3 !important;
}
.fa-stars.fa-solid {
  color: #FEE77E !important;
}
.border-red {
  border-color: #e85a40;
}
.border-yellow {
  border-color: #DEF241;
}
.border-gray {
  border-color: #313336;
}
.btn-yellow:hover {
  background: #DEF241;
}
.btn-gray {
  background: #2A2929;
}
.btn-gray:hover {
  background: #313336;
}
.btn-red:hover  {
  background: #e85a40;
}
.text-2xs {
  font-size: 10px;
}
section a {
  color: #1eed88;
}
form input {
  border-color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #919297;
  font-weight: 700;
  font-family: "Chakra Petch", sans-serif;
}

h3 {
  margin-top: 0px;
  font-family: 'Domine', sans-serif;
  font-family: "VulfMono-Regular", sans-serif;
  font-family: "VulfSans-Bold", Domine, sans-serif;
  letter-spacing: .5px;
  margin-bottom: 0px;
  font-weight: 700;
  padding-bottom: 10px;
  font-size: 30px !important;
  line-height: 48px;
}
.border-gray {
  border-color: #2F363C !important;
}
form {
  margin-top: 15px;
}

form input {
  border-radius: 4px;
}
.message {
  background-color: #161B22;
  border-bottom: 1px solid #2F363C;
  border-left: 1px solid #2F363C;
  border-right: 1px solid #2F363C;
  color: #e1e1e1;
  font-size: 14px;
}
.message i {
  color:  #ffffff;
}
.message img {
  margin-top: 7px;
}

nav {
  background-color: #161B22;
  border-right: 1px solid #2F363C;
}

nav a {
  color: #ffffffde;
  font-size: 14px;
}

nav li {
  margin-right: 10px;
  border-radius: 4px;
  margin-bottom: 3px;
}

a:hover li,
.active li {
  background: #2E3034 !important;
}

.last {
  border-bottom: 1px solid #313235;
}

form button {
  background: #E85A40 !important;
  height: 45px;
  border-top: 3px solid #C13E31;
  border-bottom: 3px solid #C13E31;
  padding-left: 18px !important;
  padding-right: 18px !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 4px;
}

ol li {
  margin-bottom: 7px;
  color: #C4C5C8;
}

li img,
li span {
  display: inline-block;
}

#new-chat {
  color: #e85a40;
}

ul i {
  margin-right: 5px;
  color: #C4C5C8;
}

hr {
  border-color: #2F363C;
}
.tracking-wide {
    letter-spacing: .08em;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: transparent;
}

#sidebar-top ::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #2a2a2d;
  border-radius: 1px;
}

#sidebar-top ::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 1px;
}
#top-nav {
  background: #161B22;
  border: 1px solid #2F363C;
  border-left: none;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #232426 transparent;
}
#saved #messages-box {
  border-top: 1px solid #2F363C;
}
#messages-box, #component-box {
  max-height: 590px;
}

#messages-box, #component-box ul li,
ol li {
  margin-bottom: 8px;
}

#messages-box, #component-box ul {
  list-style-type: disc;
  /* bullet style */
  padding-left: 1.5em;
  /* indentation */
}

#messages-box, #component-box li {
  padding-left: 6px;
  /* Adjust the padding amount as needed */
}

/* Style for ordered lists */
#messages-box, #component-box ol {
  list-style-type: decimal;
  /* numbering style */
  padding-left: 0em;
  /* indentation */
}

#messages-box, #component-box .last {
  /*border-bottom: 1px solid #2F363C;*/
}

#new-chat i {
  color: #e85a40;
}

.name {
  color: #919297;
}

.timestamp {
  color: #8c8d92;
  padding-top: 2px;
  padding-right: 2px;
}

.message-direction {
  color: #d0d1d6;
}

form button {
  color: #fff;
  border-left: 2px solid #E85A40;
  transition: .69s;
}

form button:hover {
  background: #e54628 !important;
  border-top: 3px solid #691b0d;
  color: #ffffff !important;
}

form button:hover {
  border-bottom: 3px solid #691b0d;
  border-top: 3px solid #691b0d;
  border-left: 2px solid #ad2c15;
}

form input {
  border-radius: 4px;
  border: 1px solid #2F363C;
  height: 45px;
  background: transparent;
}
.border-gray {
  border-color: #4D4D4D;
}

form textarea {
  border-radius: 4px;
  border-color: #4D4D4D;
  border: 2px solid #BDBEBF;
  height: 45px;
  background: transparent;
  resize: none;
}
h1 {
  font-size: 2rem;
  line-height: 150%;
  color: #ffffff;
}
.red-checkbox {
  accent-color: #e85a40;
}
.mb-30 {
  margin-bottom: 30px;
}
.mt-50 {
  margin-top: 50px;
}
#chat-form {
  color: #1C1D20 !important;
  font-weight: 500 !important;
  font-size: 15px;
  margin-left: -15px;
}

input[type="text"]::placeholder,
textarea::placeholder {
  color: #6f6f6f !important;
}

#chat-form input:focus,
#chat-form textarea:focus {
  outline: none;
  border: 2px solid #79E9B3;
}
input, textarea {
  border: 1px solid #1F2025;
}
.border-top-none {
  border-top: none;
}
.auto-expand-textarea {
  resize: none;
  max-height: 190px;
  overflow-y: auto;
}

#main-container {
  overflow-y: auto;
  max-height: 100%;
}
#chat-form {
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}
#code-editor {
  border: 1px solid #313234 !important;
  color: #c4c5c8;
}
.uiw-react-textarea-code-editor .uiw-react-textarea-code-editor-placeholder {
    color: #c4c5c8 !important;
}

/*my account*/
#my-account input, #my-account button{
  max-width: 600px;
}
#chat-participants {
  max-width: 200px;
}

/*responsive design*/

@media (max-width: 640px) {

  body,
  html {
    overflow: hidden;
  }
  #chat-participants {
    display: none;
  }
  #chat-form {
    margin-left: 0em;
  }
}
table td, table tr {
  background: transparent !important;
  color: #7d8590;
  border-color: #2F363C;
}
table {
  border: 1px solid #2F363C;
}

@media (min-width: 710px) {
  #add-task {
    min-height: 250px;
  }
  .form-container {
    padding-left: 100px;
    margin-top: 100px;
  }
  .auth-container {
    margin-top: 100px !important;
  }
  #chat-form {
    margin-left: 0em;
  }
}