@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap');

/*global styles*/

body {
  font-family: "Chakra Petch", sans-serif;
  color: #c7c8cd;
  background-color: #1C1D20;
  font-size: 15px;
  letter-spacing: .02em;
}
section a {
  color: #1eed88;
}
h1,h2,h3,h4,h5,h6 {
  color: #919297;
  font-weight: 700;
  font-family: "Chakra Petch", sans-serif;
}
h3 {
  margin-top: 0px;
  font-family: 'Domine', sans-serif;
  font-family: "VulfMono-Regular", sans-serif; 
  font-family: "VulfSans-Bold", Domine,sans-serif;
  letter-spacing: .5px;
  margin-bottom: 0px;
  font-weight: 700;
  padding-bottom: 10px;
  font-size: 30px !important;
  line-height: 48px;
}
form {
  margin-top: 15px;
}
form input {
  border-radius: 4px;
  border: 1px solid #BDBEBF;
}
.message {
  background-color: #232427;
  border: 1px solid #313336;
  
  
  color: #C4C5C8;
}
.message img {
  margin-top: 7px;
}
nav {
  background-color: #222427;
  border-right: 1px solid #313234;
}
nav a {
  color: #F6F6F9;
  font-size: 14px;
}
nav li {
  margin-right: 10px;
  border-radius: 4px;
  margin-bottom: 3px;
}
a:hover li,.active li {
  background: #2E3034 !important;
}
.last {
  border-bottom: 1px solid #313235;
}
form button {
  background: #E85A40 !important;
  border-bottom: 3px solid #C13E31;
  padding-left: 18px !important;
  padding-right: 18px !important;
  letter-spacing: 1px;
  border-radius: 4px;
}
ol li {
  margin-bottom: 7px;
  color: #C4C5C8;
}
li img, li span {
  display: inline-block;
}
#new-chat {
  color: #e85a40;
}
ul i {
  margin-right: 5px;
  color: #C4C5C8;
}
hr {
  border-color: #4F5054;
}
#messages-box {
  max-height: 594px;
}
#messages-box .last {
  border-bottom: 1px solid #313336;
}
#new-chat i {
  color: #e85a40;
}
.name {
  color: #919297;
}
.timestamp {
  color: #8c8d92;
  padding-top: 2px;
  padding-right: 2px;
}
.message-direction {
  color: #d0d1d6;
}

/*responsive design*/

@media (min-width: 768px) {
  #messages-box {
    min-height: 594px;
  }

  
}